#container{
    width: 90%;
    margin: 0 auto;
}

img{
    height: 120px;
    width: 80px;
    /*margin: 5px 5px;*/
}
.pegrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;

}

#pegboard {
    background: url('img/woodbackground.jpg');
    background-size: cover;
    height: 400px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    border: solid black 10px;
}

#scoreDisplay{
    display: flex;
    height: 50px;
    background-color: green;
    justify-content: space-between;
    border: 1px solid;
}
#p2score {
    display: flex;
}
#playarea {
    background-color: green;
}
#cardrow{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

}
#player1cards {
    display: flex;

}
#player2cards {
    display: flex;

}
.cardbox {
    width: 80px;
    height: 120px;
    /*border: 1px solid;*/
    margin: 5px 5px;
    display: flex;
    justify-content: space-between;
}
#cribhome{
    display: flex;
    justify-content: flex-end;
}
#upper{
    display: flex;
    justify-content: space-around;
}
#cardsplayed {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.peghole img {
    width: 20px;
    height: 20px;
    margin: 0;
}

#rowmiddle {
    margin: 25px 35px;
}
#rowbottom {
    margin: 18px 35px;
 }
#rowtop {
    margin: 25px 35px;
}
#rowuppermid {
    margin: 25px 35px;
}
#deckspot {
    display: flex;
    width: 260px;
    justify-content: space-between;;
}
