#container{
    width: 80%;
    margin: 0 auto;
}

img{
    height: 150px;
    width: 100px;
}
#pegboard {
    background: url('img/woodbackground.jpg');
    background-size: cover;
    height: 400px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;


}
#scoreDisplay{
    display: flex;
    height: 50px;
    background-color: green;
    justify-content: space-between;
    border: 1px solid;
}
#p2score {
    display: flex;
}
#playarea {
    background-color: green;
}
#cardrow{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

}
#player1cards {
    display: flex;

}
#player2cards {
    display: flex;

}
.cardbox {
    width: 100px;
    height: 150px;
    border: 1px solid;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between;
}
#crib{
    display: flex;
    justify-content: flex-end;
}
#upper{
    display: flex;
    justify-content: space-around;
}
#cardsplayed {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.peghole {
    width: 20px;
    height: 20px;
}
#p1btrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#p2btrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#p1midrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#p2midrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#p1upmidrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#p2upmidrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#p1toprow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#p2toprow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#rowmiddle {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 25px 35px;
}
#rowbottom {
    margin: 18px 35px;
 }
#rowtop {
    margin: 25px 35px;
}
#rowuppermid {
    margin: 25px 35px;
}
